@import "variables";

@mixin box-shadow ($color) {
    -webkit-box-shadow: 10px 10px 15px -4px $darkGray;
    -moz-box-shadow: 10px 10px 15px -4px $darkGray;
    box-shadow: 10px 10px 15px -4px $darkGray;
    padding: $padding-base;
}

.btn-basic {
    border: 1px solid $ligthGray ;
    padding: $padding-base;;
    color: #fff;
}

body {
    font: 100% "Space Mono", monospace;
    color: $ligthGray;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
    main {
        padding-top: 0%;
        padding-bottom: 0%;
    }
}



article {
    display: flex;
    flex-wrap: wrap;
    section {
        flex-grow: 1;
        flex-basis: 45%;
        border: 1px $ligthGray  solid;
        @include box-shadow($darkGray);
        margin: 16px;
        clear: both;
        overflow: auto;
        box-sizing: border-box;
        #selling-points {
            flex-grow: 2;
            flex-basis: 100%;
        }
    }
    code {
        background: #000;
        border: 1px solid $darkGray;
        color: $ligthGray ;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
        .before {
            float: left;
            width: 40%;
        }
        .after {
            float: right;
            width: 40%;
        }
    }
}

h1,
h2,
h3 {
    color: #BF4080;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    padding: $padding-footer-h3;
    margin-bottom: 0px;
}

.messages {
    padding: $padding-base;
}

.success {
    @extend .btn-basic;
    background-color: green;
}

.error {
    @extend .btn-basic;
    background-color: red;
        &:hover{
        background-color: green;
        }
}

.warning {
    @extend .btn-basic;
    background-color: orange;
}